<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <p>
          Welcome to our full-stack web development Project Number Two. We have built this site for you, dear friend. You are tasked with writing a project for your programming / education boot camp, and you realize, "OH NO! I'm a programmer not an ideas human!" Fear not, we are all on the same team, and now that you have found us, your mission is much closer to being complete. Please enjoy our free project ideas below, and consider supporting our learning and development by subscribing to our premium set of ideas.
        </p>
        <h6>Click below to buy our premium project ideas now!</h6>
        <div id="paypal-button-container"></div>
        <br>
        <h3>Popular projects:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <div>
              <a href="example/{{this.id}}">{{this.title}}</a>
              <span style="font-size:10px"> {{this.description}}</span>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="/js/index.js"></script>